body { 
	margin:5%; 
	background-image:url("bg1.jpg");
	font-family: "New Century Schoolbook", Times, sans-serif;
}
p { 
	text-align: left
	text-indent: 1em; 
	margin-top: .25em; 
	margin-bottom: .25em; 
}
p.table {
	text-align: center;
}
p::first-letter {
	font-size: 115%;	
}
h1,h2,h3,h4,h5,h6 { 
	text-align: center; 
	margin-left: 15%; 
	margin-right: 15%; 
}
blockquote {
	font-size: 97%; 
	font-style: italic; 
	margin-left: 10%; 
	margin-right: 10%;
}
div { 
	display:block; 
	text-align:center; 
	margin-left: 20%; 
	margin-right: 20%; 
}
pre { 
	font-style: italic; 
	font-size: 90%; 
	margin-left: 10%;
}

img {
	width:250px;
	height:auto;
}
